<!DOCTYPE html>
<html onselectstart ='return false' onselect='try{document.selection.empty();}catch(e){}' onmouseup='try{document.selection.empty();}catch(e){}'>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/rest.css" rel="stylesheet" />
    <link href="~/css/components.css" rel="stylesheet" />
    <link href="~/css/H5Editor.css" rel="stylesheet" />
    <script src="~/Home/Par" ></script>
    <script src="~/js/config/golbalSettings.js"></script>
    <script src="~/js/lib/util.js"></script>
    <script src="~/js/lib/vue.js"></script>
    <script src="~/js/lib/scrollbar.js"></script>
    <script src="~/js/lib/vuex.js"></script>
    <script src="~/js/lib/vue-router.js"></script>
    <script src="~/js/lib/axios.js"></script>
    <script src="~/js/lib/h5editor.js"></script>
    <script src="~/js/store/mutationTypes.js"></script>
    <script src="~/js/store/mutations.js"></script>
    <script src="~/js/store/actions.js"></script>
    <script src="~/js/store/state.js"></script>
    <script src="~/js/store/getters.js"></script>
    <script src="~/js/plugins/notifyPlugin.js"></script>
    <script src="~/js/plugins/searchPlugin.js"></script>
    <script src="~/js/store/index.js"></script>
    <script src="~/js/components/tree_ctrl.js"></script>
    <script src="~/js/components/navPath_ctrl.js"></script>
    <script src="~/js/components/material_ctrl.js"></script>
    <script src="~/js/plugins/savePlugin.js"></script>
</head>
<body style="background:#1b1b1b;">
  <template id="tree_ctrl">
    <li>
      <div :title="node.name" class="folder_container" :class="{folder_selected : node.selected, folder_hover : dragOver}" v-on:click="click" v-on:dblclick="dblclick" :style="{paddingLeft:12 * node.floor + 'px'}">
        <span class="triangle_icon glyphicon" :class="node.nodes ? 'glyphicon-triangle-right' : 'glyphicon-triangle-right'" v-on:click="nodeToggle(node)"></span>
        <span :class="node.icon" class="folder_icon"> </span>
        <span class="folder_name">{{node.name}}</span>
      </div>
      <ul v-show="node.open">
        <tree-ctrl :data="n" v-for="n in node.children.filter(item=>item.type == 'folder')"></tree-ctrl>
      </ul>
    </li>
  </template>

  <template id="nav_path_ctrl">
  <div class="history_container">
    <span class="backup_icon" v-on:click="backUp"></span>
    <ul class="history_item_container">
      <li class="history_item" v-on:click="click(path)" v-for="path in navPath">
        <a :title="path.name">{{path.name}}</a>
      </li>
    </ul>
  </div>
</template>

<template id="material_ctrl">
    <div class="material fl" :class="material.type" draggable="true" v-on:dblclick="dblclick"
      :data-channel='material.channel'
      :data-from="0"
      :data-duration="material.duration"
      :data-audio="material.isAudio"
      :data-type="material.type"
      :data-id="material.guid"
      :data-id2="material.id"
      :data-name="material.name"
      :data-icon="material.iconfilename"
      :data-url="material.iconfilename"
      :data-source-id="material.typeid"
      :data-createdate ="material.formatDate">
      <div class="material_status">
        <span class="status_item wa"></span>
        <span class="status_item hq"></span>
        <span class="status_item lq"></span>
        <span class="status_item db"></span>
        <span class="status_item p"></span>
        <span class="status_item i"></span>
      </div>
      <div class="material_icon_container" :class="{clipping:material.clipping}"><img v-if="material.type =='video' || material.type =='image'" :src="data.iconfilename" onerror="this.src='./images/nostamp.png'"><span v-else :style="{background: 'url(./images/' + material.type + '.png) no-repeat center center'}" ></span></div>
      <div class="material_info"><span :title="material.name">{{material.name}}</span></div>
    </div>
  </template>
  <div id="app" v-on:click.capture="hideMenu">
    <div class="save_plugin">
       <span class="dir_text" style="position: relative;width: 85px;text-align: left;top: 63px;left:10px; color: #cfd2d4;">Directory</span>
       <input type="text"  :value="savePath"  class="mp-input path" style="opacity:0;"/>
       <div class="folder_box">
         <ul>
           <tree-ctrl  :data="node" v-for="node in savePath"></tree-ctrl>
         </ul>
       </div>
    </div>
    <div class="left_container" :style="{left:(folderBlockStatus?0:-200)+'px'}">
      <div class="logo_box">
        <span>Web Quick Editing</span>
      </div>
      <!--div class="folder_box"-->
        <vue-nice-scrollbar class="folder_box" :speed="150">
        <ul>
          <tree-ctrl  :data="node" v-for="node in nodes"></tree-ctrl>
        </ul>
        </vue-nice-scrollbar>
      <!--/div-->
      <div class="totalDiskSpace" id ="userStorage">
      </div>
    </div>
    <div id="stage_wrapper" class="right_container" :style="{left:(folderBlockStatus?200:0)+'px'}">
      <div class="top_box">
        <div id="div_fullTextSearch"></div>
        <input type="button" class="advance_search" value="Advance Search" v-on:click="advanceSearch"/>
        <input type="button" class="task_monitor" value="Task Monitor" v-on:click="taskMonitor"/>
        <div class="materials_count fr">
            <div class="hidden_bar">
                <span class="xx_icon fr" v-on:click="userOperationStatus = !userOperationStatus">
                  <transition name="fade">
                  <div v-show="userOperationStatus">
                    <div class="triangle_top user_operation"></div>
                    <ul class="operation_box user_operation">
                      <li class="operation_item" v-on:click.stop="logout">Logout</li>
                      <li class="operation_item">Help</li>
                    </ul>
                  </div>
                </transition>
                </span>
                <span class="username_show">duanxin</span>
                <span class="timeline_icon mt15"  :class="{timeline_icon_disabled:!svplayerStatus}" v-on:click="toggleSVMV"></span>
                <span class="info_icon mt15" :class="{info_icon_disabled:!infoBlockStatus}" v-on:click="toggleInfoBlock"></span>
                <span class="list_top_icon mt15" :class="{list_top_icon_disabled:!resourceBlockStatus}" v-on:click="toggleResourceBlock"></span>
                <span class="tree_icon mt15" :class="{tree_icon_disabled:!folderBlockStatus}" v-on:click="toggleFolderBlock"></span>
            </div>
        </div>
      </div>
      <transition name="fade">
      <div class="sv_container" v-show="svplayerStatus" :style="svplayerStyle">
         <iframe id="previewifm" class="sv_player" :src="previewUrl">
         </iframe>
         <div class="sv_marker_list">
         </div>
      </div>
    </transition>
      <div id="resourceList" class="materials_container" v-show="resourceBlockStatus">
        <div class="toolbar_box">
          <nav-path-ctrl></nav-path-ctrl>
          <div class="materials_count fr">
            <span class="text_nomarl">Items</span>
            <span class="text_strong">{{materialsCount}}</span>
            <span class="list_icon"></span>
            <span class="thumbnail_icon"></span>
            <span class="sortby_icon"  v-on:click="sortByStatus = !sortByStatus">
              <transition name="fade">
              <div class="menu_box" v-show="sortByStatus">
                <div class="triangle_top sort_by"></div>
                <ul class="operation_box sort_by">
                  <li class="operation_item" v-on:click.stop="orderBy('title', true)">Title ↓</li>
                  <li class="operation_item" v-on:click.stop="orderBy('title', false)">Title ↑</li>
                  <li class="operation_item" v-on:click.stop="orderBy('createTime', false)">Create Time ↓</li>
                  <li class="operation_item" v-on:click.stop="orderBy('createTime', true)">Create Time ↑</li>
                  <li class="operation_item" v-on:click.stop="orderBy('type')">Type</li>
                </ul>
              </div>
              </transition>
            </span>
            <span class="refresh_icon" v-on:click="refreshMaterial"></span>
          </div>
        </div>
        <vue-nice-scrollbar class="scrollbar_container" :speed="150">
          <div class="material_box clearfix">
            <material-ctrl :data="m" v-for="m in materials">
            </material-ctrl>
          </div>
        </vue-nice-scrollbar >
      </div>
      <div id="player">
      </div>
    </div>
    <div id="editor" class="h5editor ani"></div>
  </div>
  <script src="./js/app.js"></script>
</body>
</html>
