<div class="full login">
    <div class="topbar">
        <div class="logoWrapper">
            <img data-ng-src="{{getImageUrl('sobey.png')}}" />
        </div>
        <div class="navRight">
            <a href="#login" class="btn btn-raised btn-default btn-sm" data-ng-class="{'active': currentView=='root.login.login'}">登录</a>
            <a href="#reg" class="btn btn-raised btn-default btn-sm" data-ng-class="{'active': currentView=='root.login.reg'}">注册</a>

        </div>
    </div>
    <div class="content" data-ui-view>
    </div>
    <div class="foot">
        成都索贝数码科技股份有限公司  Copyright © Sobey. All rights reserved
    </div>
</div>

